# ==============================================================================
# General //////////////////////////////////////////////////////////////////////
# ==============================================================================

# Ignore all hidden files and directories.
# ------------------------------------------------------------------------------

.*

# Ignore all files with the extension ".log" or ".logs".
# ------------------------------------------------------------------------------

*.log
*.logs

# Ignore all folders named log or logs.
# ------------------------------------------------------------------------------

**/log
**/logs

# ==============================================================================
# OS ///////////////////////////////////////////////////////////////////////////
# ==============================================================================

# Ignore OS files.
# ------------------------------------------------------------------------------

*.ini
Thumbs.db

# ==============================================================================
# Git //////////////////////////////////////////////////////////////////////////
# ==============================================================================

# Make exceptions for Git configuration files.
# ------------------------------------------------------------------------------

!.gitignore
!.gitmodules

# ==============================================================================
# Vim //////////////////////////////////////////////////////////////////////////
# ==============================================================================

# Ignore Vim temporary files.
# ------------------------------------------------------------------------------

*.sw*

# ==============================================================================
# Sublime Text /////////////////////////////////////////////////////////////////
# ==============================================================================

# Ignore Sublime Text configuration files.
# ------------------------------------------------------------------------------

*.sublime-workspace
*.sublime-project

# ==============================================================================
# NodeJS ///////////////////////////////////////////////////////////////////////
# ==============================================================================

# Ignore `node_modules` folder.
# ------------------------------------------------------------------------------

node_modules

# Make exception for ESLint configuration files.
# ------------------------------------------------------------------------------

!.eslintrc*
!.eslintignore*
